*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    transition: 0.5s;
}

.base{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: 0px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 17px;
    transition: 0.2s;

}
button:hover{
    font-size: 14px;
    transition: 0.2s;
}
#azul{
    background-color: blue;
    color: white;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
    color: white;

}
#verde{
    background-color: green;
    color: white;
}
#branco{
    background-color: white;
    color: black;
}
#preto{
    background-color: black;
    color: white;
}